<form action="/users" accept-charset="UTF-8" method="post">
<label for="name">Username:</label>
<input type="text" name="user[name]" id="name">

<label for="email">Email:</label>
<input type="text" name="user[email]" id="email">

<label for="password">Password</label>
<input type="password" name="user[password]" id="password">

<input name="commit" type="submit" value="New">
</form>