<form action="/users" accept-charset="UTF-8" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<label for="username">Username:</label>
<input type="text" name="user[username]" id="name">

<label for="email">Email:</label>
<input type="text" name="user[email]" id="email">

<label for="password">Password</label>
<input type="password" name="user[password]" id="password">

<input name="commit" type="submit" value="New">
</form>